<!DOCTYPE html>
<html>
  <head>
    <title>Workforce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body class="rykn0wxx">
    <%- if controller_name != 'sessions' %>
      <%= render 'partials/header' %>
    <% end -%>

    <section class="container content-section text-center">
      <%= yield %>
    </section>

    <%= render 'partials/footer' %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
